# Python - zmienne i struktury danych

## Hello World

Tradycyjny pierwszy "program" w nowym języku - wypisz na ekran "Hello World"

Do wypisywania wartości na standardowe wyjście - w tym przypadku ekran - służy **funkcja `print()`**, przyjmująca jako argument dowolny tekst. Tekst deklarujemy w cudzysłowach (`"`) bądź apostrofach (`'`).

In [1]:
print("Hello World")

Hello World

## Zmienne i obliczenia

Stwórz zmienną `a` o wartości 3 oraz zmienną `b` o wartości 4.

Następnie oblicz i podaj wynik:

- dodawania
- odejmowania
- dzielenia
- mnożenia
- potęgowania
- reszty z dzielenia

In [2]:
a = 3
b = 4

In [3]:
a + b

7

In [4]:
a - b

-1

In [5]:
a / b

0.75

In [6]:
a * b

12

In [7]:
a ** b

81

In [8]:
a % b

3

Powiększ wartość zmiennej `b` o 3

In [9]:
b += 3
b

7

## Podstawowe typy zmiennych

Stwórz zmienne zawierające:

- liczbę całkowitą
- liczbę z częścią dziesiętną
- tekst
- wartości logiczne "prawda" (`True`) i "fałsz" (`False`)

Sprawdź ich typy za pomocą funkcji `type()`. Spróbuj dodać różne pary zmiennych do siebie i sprawdź wynikowe typy.

In [10]:
x = 1
type(x)

int

In [11]:
y = 2.5
type(y)

float

In [12]:
s = "Python jest fajny"
type(s)

str

In [13]:
t = True
print(t)
type(t)

True

bool

In [14]:
f = False
print(f)
type(f)

False

bool

In [15]:
xy = x + y
print(xy)
type(xy)

3.5

float

In [16]:
ys = y + s
print(ys)
type(ys)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [17]:
ts = t + s

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [18]:
tf = t + f
print(tf)
type(tf)

1

int

In [19]:
sss = s + s + s
print(sss)
type(s)

Python jest fajnyPython jest fajnyPython jest fajny

str

## Nadpisywanie zmiennych

Typ wartości zmiennej jest automatycznie wykrywany przez Pythona ("type inference") i nie wymaga ręcznej deklaracji.

**Typ przypisany jest do wartości**, nie do zmiennej. Oznacza to, że gdy "nadpisujemy" zmienną - ponownie deklarujemy, zmieniając jej wartość - nie musi być to wartość tego samego typu.

#### Zadanie

Zadeklaruj zmienną i przypisz jej wartość `3`, następnie przypisz tej zmiennej wynik mnożenia wartości x 2.5.

In [20]:
z = 3
print(type(z))
z = z * 2.5
print(type(z))
z

<class 'int'>
<class 'float'>

7.5

## Lista - deklaracja i operacje

Lista to kolekcja danych, mogąca przechowywać dowolne elementy. Elementy listy nie muszą być tego samego typu.

Listę można modyfikować, dodając, usuwając oraz modyfikując jej elementy.

Lista przechowuje elementy w określonej kolejności. Tak jak w większości języków programowania, numeracja elementów listy zaczyna się od 0.

Listę deklarujemy poprzez podanie elementów po przecinkach w nawiasach kwadratowych (`[]`).

#### Zadanie

Stwórz listę składającą się z dowolnych czterech liczb, a następnie:

- wypisz elementy spod indeksów: 0, 1, 3, -1
- wypisz element spod indeksu 4
- wypisz elementy od indeksu 1 do 3 włącznie
- zmień wartość elementu pod indeksem 2
- dodaj nowy element na końcu listy (`append()`)
- usuń wybraną liczbę z tablicy (`remove()`)
- dodaj do tablicy drugą tablicę: `["ala", "ma", "kota"]`

In [21]:
l = [3, 14, 42, 100]
print(l)

[3, 14, 42, 100]

In [22]:
print(l[0])
print(l[1])
print(l[3])
print(l[-1])

3
14
100
100

In [23]:
print(l[4])

IndexError: list index out of range

In [24]:
print(l[1:4])

[14, 42, 100]

In [25]:
l[2] = 0
print(l)

[3, 14, 0, 100]

In [26]:
l.append(13)
print(l)

[3, 14, 0, 100, 13]

In [27]:
l.remove(100)
print(l)

[3, 14, 0, 13]

In [28]:
l += ["ala", "ma", "kota"]
print(l)

[3, 14, 0, 13, 'ala', 'ma', 'kota']

## Lista - funkcje

Sama lista nie ma wielu metod możliwych do wywołania. Jednak w Pythonie oraz bibliotekach istnieje wiele funkcji, które przyjmują listę jako argument. Najprostszymi przykładami są funkcje agregujące.

#### Zadanie

Stwórz nową listę zawierającą kilka liczb i podaj:

- długość listy
- ich sumę
- największą i najmniejszą z nich

In [29]:
l = [12, 17, 19, 8, 33]
len(l), sum(l), max(l), min(l)

(5, 89, 33, 8)

## Tuple

###### Krotka

"Tuple" to **niemutowalna** kolekcja elementów. Może, podobnie jak lista, posiadać dowolne elementy. Definiuje się ją poprzez nawiasy okrągłe (`()`),
ale dostęp do wartości następuje tak samo jak w listach.

| Lista                                                     | Tuple                                                                   |
|-----------------------------------------------------------|-------------------------------------------------------------------------|
| Mutowalna                                                 | Niemutowalna                                                            |
| Zazwyczaj zawiera elementy tego samego lub podobnego typu | Zazwyczaj zawiera różne elementy                                        |
| Służy przekazywaniu kolekcji jednorodnych argumentów      | Służy przekazywaniu kolekcji różnorodnych parametrów pomiędzy funkcjami |

#### Zadanie

Stwórz tuple zawierającą kilka elementów, wypisz pierwszy i ostatni.

In [30]:
t = ("ala", "ma", "kota")
t

('ala', 'ma', 'kota')

In [31]:
t[0], t[-1]

('ala', 'kota')

## Dictionary

###### Słownik

Dictionary, w innych językach częściej "mapa", to kolekcja par **klucz: wartość**.

Klucz musi być **niemutowalnego typu** - np. liczba, string lub tuple (jeśli zawiera tylko niemutowalne elementy).
Klucze w danej kolekcji nie mogą się powtarzać.

Wartość przypisana do klucza może być dowolna.

Dictionary tworzony jest poprzez podanie par klucz:wartość w nawiasach klamrowych (`{}`).

#### Zadanie

Stwórz dictionary zawierający nazwy województw i liczbę mieszkańców:

- mazowieckie - 5349114
- śląskie - 4570849
- wielkopolskie - 3475323

Następnie:

- wypisz ilość mieszkańców województwa mazowieckiego
- wypisz same nazwy województw (`keys()`)
- wypisz same ilości mieszkańców województw (`values()`)
- podaj sumaryczną ilość mieszkańców województw
- dodaj województwo pomorskie (2307710 mieszkańców)
- usuń województwo śląskie

In [32]:
regions = {
    "mazowieckie": 5349114,
    "śląskie": 4570849,
    "wielkopolskie": 3475323,
}
regions

{'mazowieckie': 5349114, 'śląskie': 4570849, 'wielkopolskie': 3475323}

In [33]:
regions['mazowieckie']

5349114

In [34]:
regions.keys()

dict_keys(['mazowieckie', 'śląskie', 'wielkopolskie'])

In [35]:
regions.values()

dict_values([5349114, 4570849, 3475323])

In [36]:
sum(regions.values())

13395286

In [37]:
regions['pomorskie'] = 2307710
regions

{'mazowieckie': 5349114,
 'śląskie': 4570849,
 'wielkopolskie': 3475323,
 'pomorskie': 2307710}

In [38]:
regions.pop('śląskie')
regions

{'mazowieckie': 5349114, 'wielkopolskie': 3475323, 'pomorskie': 2307710}

## String - funkcje i formatowanie

Typ tekstowy (`str`) w wielu przypadkach zachowuje się jak lista znaków. Można, tak samo jak z listy, pobrać długość funkcją `len()` albo pojedyncze znaki poprzez indeks w nawiasach kwadratowych.

#### Zadanie

Stwórz zmienną z tekstem. Wypisz:

- długość tekstu
- pierwszą i ostatnią literę
- pierwsze 5 liter

In [39]:
txt = 'Ala ma kota'
print(len(txt))
print(txt[0])
print(txt[-1])
print(txt[0:5])

11
A
a
Ala m

Wypisywanie tekstu często wymaga umieszczenia w nim wartości zmiennych różnego typu (`str`, `int`, `bool`, itd.). Zmienne typu `str` można łączyć ze sobą znakiem `+`. Aby do tekstu "dołączyć" wartość jakiejś innej zmiennej, należy skonwertować ją na tekst metodą `str()`.

```python
name = 'Janek'
age = 18
print(name + ' ma ' + str(age) + ' lat')
```

Jednak lepszym sposobem budowania tekstu jest użycie specjalnej składni formatowania "f-string". Przed początkowym apostrofem/cudzysłowem dodajemy `f`, a zmienne (i wyrażenia) umieszczamy w tekście w nawiasach klamrowych (`{}`). Zmienne są automatycznie konwertowane na tekst. Daje to czytelniejszy kod.

```python
name = 'Janek'
age = 18
print(f'{name} ma {age} lat')
```

#### Zadanie

Wypisz tekst umieszczając w nim zmienne zawierające tekst, liczbę typu `float` oraz listę i długość tej listy.

In [40]:
name = 'Janek'
age = 2.5
words = ['mama', 'tata', 'ja']
print(f'{name}, wiek: {age}, zna {len(words)} słowa: {words}')

Janek, wiek: 2.5, zna 3 słowa: ['mama', 'tata', 'ja']